[Unit]
Description=Runs the uboe keybase bot
After=moonraker.target
After=keybase.target

[Service]
Type=simple
Environment="FROM=SYSTEMD"
WorkingDirectory=/home/uboe/keybase_bot/
ExecStart=/home/uboe/keybase_bot/scripts/run_keybase_bot.sh

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target